button {
    background-color:#19b7b7;
    color: #ffffff;
    font-size: 20px;
    padding: 18px;
    border-radius: 10px;
}

button:hover {
    transform: scale(1.1);
}

h3 {
    padding: 20px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 46%;
    border-radius: 15px;
    margin-bottom: 20px;
}

.answer {    
    border: solid 5px #19b7b7;
    text-align: center;
    width: 45%; 
    border-radius: 10px;
    display: none;
}

.button-container {
    text-align: center;
    margin-top: 15px;
} 

.flash-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 10px;
}

.game-container {
    display: none;
}

.question {
    border: solid 5px #6006d6;

    text-align: center;
    width: 45%;
    border-radius: 10px;
}

.pack-selection-container {
    display: block;
}

.radio-selection {
    display: none;
}

.radio-selection h3 {
    padding: 0px;
}
